@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --color-gray: #4D4D4D;
    --color-green: #4CAF4F;
    --color-light-green: #2E7D31;
    --color-light-gray:#B3B3B3;
    --color-lighter-gray:#1A1A1A;
    --color-sky-blue: #F8FAFC;
    --color-light:#FCFCFC;
    --color-teal: #263238;
}